version: '3.9'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:80'
    environment:
      - REACT_APP_API_BASE_URL=http://backend:5000/api
    depends_on:
      - backend
    volumes:
      - ./src:/app/src
      - /app/node_modules

  backend:
    image: node:18-alpine
    working_dir: /app
    command: sh -c "npm install && npm run start"
    ports:
      - '5000:5000'
    volumes:
      - ./backend:/app
    environment:
      - NODE_ENV=development
